.telephoto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.telephoto-title {
  font-family: "SF Pro Display";
  font-size: 4rem;
  font-weight: bolder;
}

.telephoto-text {
  font-family: "SF Pro Display";
  font-size: 1rem;
  font-weight: bolder;
  color: white;
  text-align: center;
}
