.all-day-battery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.all-day-battery-title {
  font-family: "SF Pro Display";
  font-size: 1.5rem;
  font-weight: bolder;
}

.all-day-battery-icon {
    inline-size: 24px;
    block-size: 24px;
}
