.gaming {
  background-image: url("/images/gaming.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.gaming-title {
  font-family: "SF Pro Display";
  font-size: 1rem;
  font-weight: bolder;
  color: white;
  text-align: center;
}